* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    background-color: #3882F6;
    border-radius: 25px;
    border: 0;
    color: white;
    font-weight: 700;
    padding: 9px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.header-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    color: white;
    padding: 30px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 900;
}

.navigation {
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    padding: 8px;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.first-container {
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    background-color: #1F2937;
    color: white;
    padding: 20px;
}

.first-left {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
}

.first-title {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px;
}

.first-text {
    font-size: 16px;
    margin-bottom: 20px;
}

.first-right {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
}

.first-image {
    height: 100%;
    width: 100%;
}

.second-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
    padding: 40px;
}

.second-title {
    display: flex;
    font-size: 24px;
    font-weight: 900;
    padding-bottom: 5px;
}

.second-text {
    display: flex;
    font-size: 12px;
    font-style: italic;
    padding-bottom: 5px;
}

.second-content {
    display: flex;
    flex: 1 0 100px;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.second-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

img {
    height: 150px;
}

.third-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding-top: 50px;
    padding-bottom: 50px;
}

.third-quote {
    display: flex;
    width: 800px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.third-quotation {
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: 900;
    color: black;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 30px;
}